/* Fondo degradado de la sección principal */
.hero {
  background: linear-gradient(90deg, #fcff32, #fcff32, #6cff29);
  color: white;
  padding: 80px 0;
}

/* Botón */
.hero .btn {
  background: rgb(255, 255, 255);
  color: #d32f2f;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px 20px;
}

.hero .btn:hover {
  background-color: #eaffee;
  color: #b71c1c;
}

/* Caja de estadísticas */
.stats-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.stats-box div {
  text-align: center;
}

.stats-box h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Navbar */
.navbar-brand {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.nav-link {
  font-weight: 500;
}

/* Responsivo */
@media (max-width: 768px) {
  .hero {
    text-align: center;
    padding: 60px 20px;
  }

  .stats-box {
    flex-direction: column;
    align-items: center;
  }
}

footer {
  margin-top: 70px;
  padding-bottom: 20px;
}

.card-title {
  font-weight: 600;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}
