body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f5f7fa;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.encuesta-container {
  background: #fff;
  padding: 10px 20px;
  padding-top: 5px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #36965e; /* Borde verde */
}

.encuesta-container h2 {
  margin-bottom: 0px;  
}

h2 {
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
}

form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #000000;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1.8px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

form input:focus {
  border-color: #36965e;
  outline: none;
  box-shadow: 0 0 5px rgba(198, 201, 13, 0.4);
}

button[type="submit"] {
  margin-top: 25px;
  background-color: #36965e;
  color: white;
  font-size: 17px;
  padding: 12px 0;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #19693b;
}

p.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.register-link {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.register-link a {
  color: #36965e;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

.login-description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* misma fuente que body */
  font-size: 15px;             /* tamaño legible pero discreto */
  color: #444;                 /* gris medio */
  text-align: center;
  max-width: 360px;            /* para no estirarse demasiado */
  margin: 12px auto 15px auto; /* margen superior, margen inferior */
  line-height: 1.4;
}

.login-divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
}