{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dino — Inicio</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/favicon_dino.jpg' %}">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand">
            <img src="{% static 'img/logo_dino.png' %}" alt="Logo de Dino" width="150">| Evaluación de desempeño
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'login_colaborador' %}">Sesión como colaborador</a></li>
                
            </ul>
        </div>
    </div>
</nav>

<!-- Hero Section -->
<section class="hero text-white text-center">
    <div class="container">
        <h1 class="display-4 fw-bold">Ferretería Dino</h1>
        <h3 class="fw-normal mb-3"><strong>Herramientas para la evaluación del desempeño del personal.</strong></h3>
        <p class="lead">La ferretería líder con sistema integrado de evaluación de desempeño para nuestros colaboradores y clientes.</p>
        <div class="d-flex justify-content-center gap-3 mt-4 flex-wrap">
            <a href="{% url 'login' %}" class="btn btn-lg">Iniciar sesión como cliente</a>
        </div>

        <div class="stats-box mt-5">
            <div>
                <h3>500+</h3>
                <p>productos</p>
            </div>
            <div>
                <h3>98%</h3>
                <p>satisfacción</p>
            </div>
            <div>
                <h3>50+</h3>
                <p>colaboradores</p>
            </div>
            <div>
                <h3>15</h3>
                <p>años</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="bg-dark text-white pt-4">
  <div class="container text-center">
    <p>© — Dino, 2025 — Todos los derechos reservados</p>
    <p>📞 +51 982 803 339 — ✉ info@dino.com — 🗺️ Chiclayo, Lambayeque - Perú</p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>