body {
    background-color: #f5fff5;
    font-family: 'Lato', sans-serif;
}

.titulo {
    color: #2e7d32;
    font-weight: bold;
    font-family: 'Lato', sans-serif;

}

.btn-success {
    background-color: #2e7d32;
    border: none;
}

.btn-success:hover {
    background-color: #1b5e20;
}

.btn-danger {
    background-color: #d32f2f;
}

.card {
    border-left: 6px solid #ffc107;
    border-radius: 12px;
    transition: all 0.2s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.badge-puesto {
    background-color: #2e7d32;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.icono-verde {
    color: #2e7d32;
}
